@import "@/vars";

.header{
  height: $--9m;
  padding: $--1-5m $--3m;
  display: flex;
  flex-direction: row;
  z-index: 100;
  align-items: center;
  position: fixed;
  top: 0;
  letter-spacing: 0;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: $--2m;
  border-bottom: 2px solid rgba(128, 128, 128, 0.57);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0%, rgba(77, 77, 77, 0.71) 100%);
  &>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: $--2m;
    height: 100%;
    &>a{
      height: 100%;
      &>img{
        height: 100%;
      }
      &:hover{
        filter: grayscale(1);
      }
    }
  }
}