@import "@/vars";

.menuLat{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20;
  justify-content: space-between;
  position: fixed;
  top: $--9m;
  height: calc(100vh - $--9m);
  padding: $--3m 0 $--3m $--3m;
  width: 250px;
}