// --- C O L O R S --- //

  /*gray*/
  $--gray-50: #F2F2F2;
  $--gray-100: #DBDBDB;
  $--gray-200: #C4C4C4;
  $--gray-300: #ADADAD;
  $--gray-400: #969696;
  $--gray-500: #808080;
  $--gray-600: #666666;
  $--gray-700: #4D4D4D;
  $--gray-800: #333333;
  $--gray-900: #1A1A1A;

  /*purple*/
  $--purple-50: #F1E7FE;
  $--purple-100: #D8BBFC;
  $--purple-200: #BF8FFA;
  $--purple-300: #A763F8;
  $--purple-400: #8E37F6;
  $--purple-500: #750BF4;
  $--purple-600: #5D09C3;
  $--purple-700: #460693;
  $--purple-800: #2F0462;
  $--purple-900: #170231;

  /*green*/
  $--green-50: #EDF7F0;
  $--green-100: #CDEAD6;
  $--green-200: #ACDCBB;
  $--green-300: #8CCFA1;
  $--green-400: #6CC186;
  $--green-500: #4EB56E;
  $--green-600: #3C9056;
  $--green-700: #2D6C41;
  $--green-800: #1E482B;
  $--green-900: #0F2416;

  /*red*/
  $--red-50: #FDEAE7;
  $--red-100: #FAC3BC;
  $--red-200: #F79D91;
  $--red-300: #F47767;
  $--red-400: #F1503C;
  $--red-500: #E22810;
  $--red-600: #BF220D;
  $--red-700: #8F190A;
  $--red-800: #5F1107;
  $--red-900: #300803;

  /*orange*/
    $--orange-50: #FFF5E5;
    $--orange-100: #FFE2B8;
    $--orange-200: #FFD08A;
    $--orange-300: #FFBE5C;
    $--orange-400: #FFAB2E;
    $--orange-500: #FF9900;
    $--orange-600: #CC7A00;
    $--orange-700: #995C00;
    $--orange-800: #663D00;
    $--orange-900: #331F00;

.white{
  color: $--gray-50;
}
.black{
  color: $--gray-900;
}
.purple{
  color: $--purple-200;
}
.green{
  color: $--green-400;
}
.red{
  color: $--red-400;
}
.orange{
  color: $--orange-500;
}