@import "@/vars";

.cardNote{
  width: 100%;
  display: flex;
  padding: $--3m;
  flex-direction: column;
  align-items: flex-start;
  gap: $--2m;
  align-self: stretch;
  border-radius: $--1m;
  background: $--gray-800;
  box-shadow: 0 0 32px 0 #1A1A1A inset, 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  @media (max-width: 1000px) {
    padding: $--2m;
  }
  .cardNoteHead{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    gap: $--1m;
  }
  &>div>button{
    color: $--purple-100;
    &:hover{
      color: $--purple-200;
    }
  }
  .title{
    @include lineClamp(1);
  }
  .desc{
    @include lineClamp(2);
  }
  & p{
    font-size: $--2m !important;
  }
}
.cardNoteCheck{
  border: 2px solid $--purple-200 !important;
  &>div>button{
    color: $--purple-200;
  }
}

