@import "@/vars";
@import "./reset.scss";


@import "components/Button.scss";

h1, .h1{
    font-family: $--bold-title-font;
    font-size: $--6m;
    font-style: normal;
    letter-spacing: 2px;
    line-height: normal;
  }
  h2, .h2{
    font-family: $--bold-title-font;
    font-size: $--5m;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
  }
  h3, .h3{
    font-family: $--bold-title-font;
    font-size: $--4m;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
  }
  h4, .h4{
    font-family: $--bold-title-font;
    font-size: $--3m;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
  }
  h5, .h5{
    font-family: $--text-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  @media only screen and (max-width: 1200px){
    h1, .h1{
      font-size: $--5m;
    }
    h2, .h2{
      font-size: $--4m;
    }
    h3, .h3{
      font-size: $--3m;
    }
    h4, .h4{
      font-size: 20px;
    }
    h5, .h5{
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 800px){
    h1, .h1{
      font-size: $--4m;
    }
    h2, .h2{
      font-size: $--3m;
    }
    h3, .h3{
      font-size: 20px;
    }
    h4, .h4{
      font-size: 18px;
    }
    h5, .h5{
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 500px){
    h1, .h1{
      font-size: $--3m;
    }
    h2, .h2{
      font-size: 20px;
    }
    h3, .h3{
      font-size: 18px;
    }
    h4, .h4{
      font-size: 16px;
    }
    h5, .h5{
      font-size: 15px;
    }
  }