@import "@/vars";

.page_cours{
  height: -webkit-fill-available;
  .header_cours{
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: $--2m;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: $--4m;
      width: 100%;
    }
    .infos{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: $--2m;
      row-gap: $--1m;
      color: $--gray-200;
      &>div{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: nowrap;
        font-size: $--2m !important;
        gap: $--0-5m;
      }
    }
    .points{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: $--0-5m;
    }
  }
  .description{
    font-size: 12px;
    line-height: $--2m;
    color: $--gray-300;
  }
  .listeLecons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: $--2m;
    li{
      width: 100%;
      a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: $--1m;
        width: 100%;
        p{
          @include lineClamp(1);
        }
        .duree{
          font-size: 12px;
        }
        &:hover{
          color: $--purple-200;
        }
      }
    }
  }
}