@import "@/vars";

.lp{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $--2m;
    justify-items: center;
    padding-top: $--2m;
    position: fixed;
    top: 0;
    z-index: 100;
    .logo{
      &:hover{
        filter: grayscale(1);
      }
    }
    .nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 12px;
      padding: 7px;
      border-radius: 100px;
      border: 1px solid $--gray-500;
      background: rgba(217, 217, 217, 0.10);
      backdrop-filter: blur($--0-5m);
      a{
        padding: 7px 14px;
        border-radius: 100px;
        &:hover{
          background: $--gray-600;
        }
      }
    }
  }
  .hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 500px;
    background-image: url('/hero_pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: $--3m;
    *{
      z-index: 2;
    }
    &:before, &:after{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }
    &:before{
      background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 66.96%, #1A1A1A 100%);
    }
    &:after{
      background: radial-gradient(62.89% 62.89% at 51.53% 37.11%, rgba(26, 26, 26, 0.25) 0%, #1A1A1A 100%);
    }
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: calc(2 * $--10m);
    width: 100%;
    .block{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: $--10m;
      width: 100%;
      .blockHead{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: $--3m;
        width: 100%;

      }
    }
    .footer{
      width: 100%;
      max-width: 1100px;
      padding-left: $--3m;
      padding-right: $--3m;
      padding-bottom: $--10m;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $--3m;
      *{
        height: min-content;
      }
      @media only screen and (max-width: 900px){
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}